<header>
  <div class="container">
    <div class="brand">
      <a class="home-link" href="/"
        ><img src="/assets/images/metalsmith2025-logo-bug.png" alt="Metalsmith Starter"
      /></a>
    </div>

    {% include "partials/nav.njk" %}
  </div>
</header>
